# System
.DS_Store
Thumbs.db

# Python
.venv/
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/*

# Test
.pytest_cache/
.coverage
htmlcov/

# Environment
.env
.env.*
!.env.development
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# Log
*.log
